// --> Size
$size-pc: 1200px;
$size-mobile: 640px;

$size-header: 80px;

// --> Body
$body-bg: #222;

// --> Font
$font-Nunito: "Nunito", sans-serif;
$font-SegoeUI: Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;;

// --> Font size
$font-size-base: 16px;
$font-size-h1: 60px;
$font-size-h2: 40px;
$font-size-h3: 30px;
$font-size-h4: 25px;
$font-size-h5: 17px;
$font-size-h6: 14px;
$font-size-h7: 12px;
$font-size-h8: 10px;

// --> Padding
$pad-small: 10px;
$pad-normal: 20px;
$pad-large: 40px;
$pad-xlarge: 80x;

// --> Color
$col-primary: #f3651e;
$col-highlight: rgba( 255, 255, 255, .05 );
$col-font-basic: #eee;
$col-font-highlight: white;
$col-font-darklight: #111;

// --> Methods
@function scaling( $target ) { 
    $vw-context: ( 1200*.01 ) * 1px;
    @return ( $target/$vw-context ) * 1vw;
}