@import url(https://fonts.googleapis.com/css?family=Nunito);.app-logo {
  font-family: Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 100;
  position: relative;
  text-transform: uppercase;
}
.app-logo > img {
  position: absolute;
  left: 0px;
  top: 0.25vw;
  height: 110%;
}
.app-logo > .text-block {
  margin-left: 3vw;
}
.app-logo .name {
  line-height: 3.3333333333vw;
  font-size: 2.5vw;
  color: white;
}
.app-logo .undertext {
  font-size: 1vw;
  line-height: 1vw;
  color: #d8d8d8;
}
@media (max-width: 1200px) {
.app-logo > img {
    top: 3px;
}
.app-logo > .text-block {
    margin-left: 36px;
}
.app-logo .name {
    line-height: 40px;
    font-size: 30px;
}
.app-logo .undertext {
    font-size: 12px;
    line-height: 12px;
}
}.app-svg {
  display: inline-block;
  vertical-align: middle;
  width: 2.5vw;
}
@media (max-width: 1200px) {
.app-svg {
    width: 30px;
}
}.app-cart {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  width: 13.3333333333vw;
  height: 5.8333333333vw;
  margin-left: 3.3333333333vw;
  position: relative;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.app-cart:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.app-cart:hover::before {
  border-color: #f3651e;
  opacity: 1;
}
.app-cart:hover::after {
  opacity: 1;
}
.app-cart::before {
  bottom: 0px;
  border: solid 5px white;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  content: "";
  height: 0px;
  opacity: 0.2;
  position: absolute;
  right: 0px;
  transition: opacity 0.3s, border-color 0.3s;
  width: 0px;
}
.app-cart::after {
  background-color: rgba(255, 255, 255, 0.05);
  bottom: -0.8333333333vw;
  content: "";
  left: -0.8333333333vw;
  opacity: 0;
  position: absolute;
  right: -0.8333333333vw;
  top: -0.8333333333vw;
  transition: opacity 0.3s;
}
.app-cart .icon {
  color: white;
  display: block;
  opacity: 0.5;
}
.app-cart .name, .app-cart .counter {
  font-weight: 100;
  text-align: left;
}
.app-cart .name {
  font-size: 2.0833333333vw;
}
.app-cart .counter {
  color: #f3651e;
  font-size: 1.3333333333vw;
}
@media (max-width: 1200px) {
.app-cart {
    width: 160px;
    height: 70px;
}
.app-cart .name {
    font-size: 25px;
}
.app-cart .counter {
    font-size: 16px;
}
}header {
  box-sizing: content-box;
  position: relative;
  vertical-align: middle;
}
header::before {
  background-color: rgba(255, 255, 255, 0.1);
  content: "";
  bottom: 0px;
  height: 1px;
  left: 3.3333333333vw;
  position: absolute;
  right: 60%;
}
header .pad {
  padding: 3.3333333333vw;
}
@media (max-width: 1200px) {
header .pad {
    padding: 40px;
}
}body {
  background-color: #38c172;
}body {
  margin: 0;
  font-family: Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #eee;
  text-align: left;
  background-color: #222;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

svg {
  fill: currentColor;
  stroke: currentColor;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.vh-full {
  height: 100%;
}

.vw-1-2 {
  width: 50%;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-middle {
  align-items: center;
}

[class*=pos-center],
[class*=pos-left] {
  position: absolute !important;
}

.pos-center {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pos-center-bottom {
  left: 50%;
  bottom: 0%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.pos-left-top {
  left: 0px;
  top: 0px;
}

.pos-left-bottom {
  bottom: 0px;
  left: 0px;
}

.pos-rel {
  position: relative;
}

